{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign In/Up Form Transitions</title>
  
  
  
      <link rel="stylesheet" href="{% static 'css/account.css'%}">

  
</head>

<body>
    
  <body> 
<form> 
    <center> 
        <img src="{% static 'img/logo.png' %}" width="100" height="100" style="margin-bottom: 10px;">
    </center>
  <input checked="" id="signin" name="action" type="radio" value="signin">
  <label for="signin">Вход</label>
  <input id="signup" name="action" type="radio" value="signup">
  <label for="signup">Регистрация</label>
  <input id="reset" name="action" type="radio" value="reset">
  <label for="reset">Пароль</label>
  <div id="wrapper">
    <div id="arrow"></div>
    <input id="email" placeholder="Почта" type="text">
    <input id="pass" placeholder="Пароль" type="password">
    <input id="repass" placeholder="Повторите пароль" type="password">
  </div>
  <button type="submit">
    <span>
      Восстановить
      <br>
      Вход
      <br>
      Регистрация
    </span>
  </button>
</form>
<a id="hint" href="http://127.0.0.1:8000/">Вернуться на главную страницу</a>

<script type="text/javascript">
    
</script>

</body>
  
  
</body>
</html>
